/* Image Sourcing: https://www.pinterest.com/pin/163537030204906569/*/


/* TODO
– Add a 1px solid black border w/ pricing label
*/

h1 {
    color: #FF9900;
    text-align: center;
}


/* line but with triangles*/

hr {
    border: none;
    width: 75%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 10px;
    background: linear-gradient(135deg, rgb(244, 248, 247) 25%, transparent 0%) -20px 0, linear-gradient(225deg, rgb(244, 248, 247) 25%, transparent 0%) -20px 0;
    background-size: 20px 30px;
    background-color: black;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

h3 {
    text-align: center;
}

body {
    text-align: center;
    table-layout: fixed;
}

a:hover {
    color: #FF9900;
}


/*bolding the the headers of table*/

tr:first-child td {
    font-weight: bold;
    height: 65px;
}

table {
    width: 75%;
    text-align: center;
    border-collapse: collapse;
    font-size: 12px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 1px solid black;
    height: 50px;
}